.header {
  max-width: 880px;
  min-height: 74px;
  margin: 45px auto 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #545454;
}
@media screen and (max-width: 904px) {
  .header {
    max-width: 620px;
    min-height: 56px;
  }
}
@media screen and (max-width: 330px) {
  .header {
    max-width: 320px;
    margin: 28px 0 0 0;
  }
}
