.profile__subtitle {
    margin: 6px 0 20px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}
@media screen and (max-width: 904px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 16px;
        margin: 14px auto 0 70px;
        align-items: center;
        justify-content: center;
    }
}
