.profile__title {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #fff;
    padding: 30px 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;
}
@media screen and (max-width: 904px) {
    .profile__title {
        font-size: 27px;
        line-height: 32px;
        padding: 33px 0 0 64px;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
}
