.card__button{
    background-image: url(../../../images/heart.svg);
    width: 22px;
    height: 19px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    padding-left: 16px;
    object-fit: cover;
    background-repeat: no-repeat;
    
}
.card__button:hover{
    opacity: 0.5;
}
