
.elements {
    display: grid;
    gap: 20px 17px;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    margin: 50px auto 0;
}
@media screen and (max-width: 500px) {
    .elements {
        margin: 40px auto 0;
    }
}
