
.popup__input_type_job {
    width: 358px;
    height: 27px;
    margin-top: 33px;
    border: none;
    color: black;
    border-bottom: 1px solid #DCDCDC;
}
.popup__input_type_job::placeholder {
    color: black;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
}
