.profile__info {
    padding-left: 30px;
    margin-right: 0;
    max-width: 332px;
    height: 73px;
    display: grid;
    align-items: center;
    row-gap: 16px;
}
@media screen and (max-width: 950px) {
    .profile__info {
        max-width: 280px;
        column-gap: 20px;
        min-height: 40px;
        padding: 0;
    }
}
