.profile__info {
    padding-left: 30px;
    margin-right: 0;
    max-width: 336px;
    height: 73px;
    display: grid;
    align-items: center;
    row-gap: 16px;
}
@media screen and (max-width: 904px) {
    .profile__info {
        padding-left: 0;
        height: auto;
        grid-gap: 10px;
        margin: 30px auto;
        max-width: 260px;
        min-height: 40px;
    }
}
@media screen and (max-width: 350px) {
    .profile__info {
        max-width: 250px;
    }
}
