.page__cards{
    margin: 51px auto 0;
}
@media screen and (max-width: 712px){
.page__cards{
    max-width: calc(100% - 19px*2);
    margin-top: 36px;
    
}
}

@media screen and (max-width: 500px){
.page__cards{
    max-width: calc(100% - 19px*2);
    margin-top: 36px;
    
}
}
