
.element {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 360px;
    background-color: #fff;
}
@media screen and (max-width: 904px) {
    .element {
        margin: 0 19px 0;
    }
}
