
.footer__mesto {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    color: #545454;
    left: 0;
}
@media screen and (max-width: 330px) {
    .footer__mesto {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
    }
}
