
.element__mask-button {
    width: 22px;
    height: 19px;
    background-image: url('../../../images/heart.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border: none;
    cursor: pointer;
}
.element__mask-button:hover {
    opacity: 0.4;
}
