.profile__add-button {
    width: 150px;
    height: 50px;
    background-color: black;
    border-color: #fff;
    border-radius: 2px;
    background-image: url('../../../images/plus.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin: 35px 0 35px 244px;
    background-size: 22px 22px;
}
@media screen and (max-width: 904px) {
    .profile__add-button {
        width: 282px;
        background-size: 16px 16px;
        margin: 35px 0 35px 45px;
    }
}
@media screen and (max-width: 350px) {
    .profile__add-button {
        margin: 35px 19px 0;
    }
}
.profile__add-button:hover {
    opacity: 60%;
}
